{% extends 'oscar/checkout/preview.html' %}
{% load currency_filters %}
{% load i18n %}

{% block payment_method %}
    <div class="span6">
    <h3>{% trans "Payment" %}</h3>
    <div class="well well-success" data-behaviours="match-height">

        <h4>Cash on delivery</h4>
        <p>{% blocktrans with amount=order_total.incl_tax|currency %}
            {{ amount }} will be required on delivery
        {% endblocktrans %}</p>
    </div>
</div>
{% endblock %}

{% block hiddenforms %}
    {{ bankcard_form.as_p }}
{% endblock %}
